
<% include ../../partials/boilerplate %>
<a href="/"><h1 class="title">DC Pawlitics</h1></a>
<div class="instructions">
<h1>DC Fake Mews</h1>
<p>Click on their names to read their thoughts...<p>
</div>
<div class="container">
<% cats.forEach((cat) => { %>


<div class="cat">
<a href="/cats/<%=cat.id%>"><h2><%=cat.name%></h2></a>
<div class="portrait" style="background-image: url('<%=cat.backgroundimg_url%>')">
<div class="cat-header" style="background-image: url('<%=cat.img_url%>')">
</div>
</div>
<div class="issue">
<p>Issue of impurrtance to <%=cat.name%>: </br> <span class="meow"><%=cat.issue%></span></p>
</div>
</div>
<%}) %>
</div>

<% include ../../partials/end %>



