<% include ../../partials/boilerplate %>
<div>
<h1 class="hiss spotlight-name spotlight-item issue-color"><%=cat.name%></h1>
<div class="spotlight-header" style="background-image: url('<%=cat.img_url%>')">
</div>
<p>Issue of Impurrrtance to <%= cat.name%>: <%= cat.issue%></p>
<p><%= cat.blurb%></p>
<p><%= cat.hashtags%></p>
 <!-- <br>
   <form action="/cats/<%=cat.id%>/edit" class='put' method="GET">
  <input type="submit" class="editlink" value="Edit">
  </form>
  <br>
  <form action="/cats/<%=cat.id%>?_method=Delete" class='delete' method="POST">
  <input type="submit" class="deletelink" value="Delete">
  </form> -->
  <button><a href="/cats"> Go back to the Cats </a></button>
  </div>
</div>

<script src='../../public/js/script.js'></script>
<% include ../../partials/end %>
